
{% load static %}

<div class="mt-5 mb-5">
    <div class="heading text-center shadow-sm bg-dark">
        <p class=" ">About Me</p>
    </div>
    <div class="heading_content">
        <div class="container about">
            <div class="brief_intro ">
                <h3 class="text-light mb-3">
                    Let Me <strong>Introduce</strong> My self  <br>
                </h3>
                <p class="text-white mb-2">I am Anshu Mishra, I am software developer at Global Logic. I am full stack
                    engineer using python and
                    django along with bootstrap and react js. I love to play with data using sql queries.</p>
                <p class="text-white mb-2">I have done my BTECH CSE from PSIT Kanpur with <strong>First Class</strong>.</p>

                <p class="text-white mb-2">I am <strong>GATE Qualified</strong> having strong fundamentals of <strong>CSE</strong> </p>

                <ul class="profession_about">
                    <li>
                        Having 3.4 years of experience in developing backend distributed applications in Python
                    </li>

                    <li> Solid hands-on experience as Python Developer in advanced Python programming
                    </li>

                    <li>
                        Strong knowledge of building RESTful APIs using Python frameworks (e.g. Django, Flask,
                        Web2Py,Tornado)

                    </li>
                    <li>
                        Good knowledge on development and accessing web services (REST)

                    </li>
                    <li>
                        Should have worked on cloud platforms/services offered by AWS, Azure or GCP (Google Cloud
                        Platform)

                    </li>
                    <li>
                        Good understanding of Data Structures and Oops Concepts

                    </li>
                    <li>
                        Understanding of databases and SQL

                    </li>
                    <li>
                        Expertise in developing production ready Micro services in Python

                    </li>
                    <li>
                        Understanding of the threading limitations of Python, and multi-process architecture

                    </li>
                    <li>
                        Proficient understanding of code versioning tools, such as Git

                    </li>
                    <li>
                        Effective oral & written communication skill

                    </li>
                </ul>
            </div>
            <div class="extra_circular">

            </div>
        </div>


    </div>

</div>

