.intro{
    display:flex;
    align-items:center;
    height:90vh;
    justify-content:center;
    background:#6610f2;
    font-family: 'Poppins', sans-serif;
    color:white;

}

.name{
    font-size:5rem;
    font-weight:bold;
}